#root {
  padding: 1rem;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
  li {
    padding: 0 1rem 1rem 0;
  }
}

.articles {
  display: flex;
  flex-flow: row wrap;
}

article {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border-radius: 5%;
  margin: 10px;

  width: calc( (100% / 3) - 40px );
  background-color: #efefef;

  header {
    h3 {
      margin-top: 0rem;
    }
    min-height: 3rem;
  }
}

// inverting the meaning
@media not (max-width: 1000px) and (orientation: landscape) { 
  article {
    width: calc((100% / 2) - 40px);
  }
}

@media (max-width: 600px) and (orientation: landscape) { 
  article {
    width: calc((100%) - 40px);
  }
}

// level 4 query
// @media (width <= 30em) { .. }

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}